<div class="main">
  <nav class="navbar navbar-light customnav" style="background-color: white">
    <div class="" style="width: 64px; height: 64px">
      <img
        src="https://rukminim2.flixcart.com/flap/64/64/image/22fddf3c7da4c4f4.png?q=100"
      />
      <a routerLink="">Mobiles</a>
    </div>
    <div class="" style="width: 64px; height: 64px">
      <img
        src="https://rukminim2.flixcart.com/fk-p-flap/64/64/image/0d75b34f7d8fbcb3.png?q=100"
      />
      <a routerLink="">Fashion</a>
    </div>
    <div class="" style="width: 64px; height: 64px">
      <img
        src="https://rukminim2.flixcart.com/flap/64/64/image/69c6589653afdb9a.png?q=100"
      />
      <a routerLink="">Electronics</a>
    </div>
    <div class="" style="width: 64px; height: 64px">
      <img
        src="https://rukminim2.flixcart.com/flap/64/64/image/ab7e2b022a4587dd.jpg?q=100"
      />
      <a routerLink="">Home&Furniture</a>
    </div>
    <div class="" style="width: 64px; height: 64px">
      <img
        src="https://rukminim2.flixcart.com/fk-p-flap/64/64/image/0139228b2f7eb413.jpg?q=100"
      />
      <a routerLink="">Appliances</a>
    </div>

    <div class="" style="width: 64px; height: 64px">
      <img
        src="https://rukminim2.flixcart.com/fk-p-flap/64/64/image/0139228b2f7eb413.jpg?q=100"
      />
      <a routerLink="">Beauty&Toys</a>
    </div>
    <!-- Navbar content -->
  </nav>

  <div class="row hh"></div>
  <div></div>
</div>
