<nav class="navbar navbar-expand-lg navbar-light bg-black">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">ECommerce</a>

    <form class="d-flex col-6 leftmove">
      <input
        class="form-control"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" hidden (click)="searchDummy()">
        Search
      </button>
    </form>
  </div>

  <div class="dropdown leftmovediv">
    <select (change)="seleChange($event)">
      <option value="1">{{ title }}</option>
      <option value="login" *ngIf="!visibleLogin">Login</option>
      <option value="profile">My Profile</option>
      <option value="wishlist">WishList</option>
      <option value="Orders">Orders</option>
      <option value="logout" *ngIf="visibleLogin">Logout</option>
    </select>
  </div>
  <a class="navbar-brand" [routerLink]="">Cart</a>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
<div class="footera">
  <app-footer></app-footer>
</div>
